.login2 {
  padding-top: 84px;
  width: 100%;
  height: 80vh; }
  .login2 input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial; }
  .login2 ::-webkit-input-placeholder {
    color: #afafaf; }
  .login2 :-moz-placeholder {
    /* Firefox 18- */
    color: #afafaf; }
  .login2 ::-moz-placeholder {
    /* Firefox 19+ */
    color: #afafaf; }
  .login2 :-ms-input-placeholder {
    color: #afafaf; }
  .login2 .login_wrapper {
    margin: 0 auto; }
    .login2 .login_wrapper .login_limiter {
      margin: 0 auto;
      text-align: center;
      color: #afafaf;
      max-width: 300px;
      font-size: .9em; }
    .login2 .login_wrapper .login_limiter {
      margin: 0 auto;
      text-align: center;
      color: #afafaf;
      max-width: 300px;
      font-size: .9em; }
    .login2 .login_wrapper .login_limiter_cadastro {
      margin: 0 auto;
      text-align: center;
      color: #afafaf;
      max-width: 720px;
      font-size: .9em; }
    .login2 .login_wrapper .login_group {
      position: relative;
      margin: 18px; }
  .login2 .login_group .login_input {
    width: 100%;
    padding: 12px 18px 12px 48px;
    height: 46px;
    line-height: 1.428571429;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid #afafaf;
    border-radius: 24px;
    outline: none;
    font-family: inherit;
    font-size: 1.2em;
    font-weight: 600px;
    color: #afafaf;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color .15s ease-in-out,background .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,background .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,background .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,background .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }

.login {
  padding-top: 84px;
  padding-left: 12px;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/banner.png); }
  .login input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial; }
  .login ::-webkit-input-placeholder {
    color: #fff; }
  .login :-moz-placeholder {
    /* Firefox 18- */
    color: #fff; }
  .login ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff; }
  .login :-ms-input-placeholder {
    color: #fff; }
  .login .login_wrapper {
    margin: 0 auto; }
    .login .login_wrapper h1 {
      margin: 0 0 36px;
      font-size: 16px;
      color: #fff; }
    .login .login_wrapper .login_limiter {
      margin: 0 auto;
      text-align: center;
      color: #fff;
      max-width: 300px;
      font-size: .9em; }
    .login .login_wrapper .login_limiter {
      margin: 0 auto;
      text-align: center;
      color: #fff;
      max-width: 300px;
      font-size: .9em; }
    .login .login_wrapper .login_limiter_cadastro {
      margin: 0 auto;
      text-align: center;
      color: #fff;
      max-width: 720px;
      font-size: .9em; }
    .login .login_wrapper .login_group {
      position: relative;
      margin: 18px; }

.login_group .login_input, .login_group .login_submit {
  width: 100%;
  padding: 12px 18px 12px 48px;
  height: 46px;
  line-height: 1.428571429;
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid #fff;
  border-radius: 24px;
  outline: none;
  font-family: inherit;
  font-size: 1.2em;
  font-weight: 600px;
  color: #fff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color .15s ease-in-out,background .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,background .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,background .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,background .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }

.login_group svg {
  position: absolute;
  top: 15px;
  left: 18px;
  width: 16px;
  height: 16px;
  fill: #fff !important; }
.login_group .login_p a {
  color: #ff9b00;
  font-weight: 600;
  text-decoration: none; }
.login_group .login_submit {
  padding: 8px 18px;
  background: rgba(0, 122, 248, 0.7);
  border: 2px solid #007af8;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: 1.1em; }

.foter_admin {
  text-align: center;
  color: #fff;
  position: fixed;
  bottom: 0; }

.nav .time_line ul {
  margin-bottom: 26px !important; }

.actived_menuzin {
  display: block !important; }

@media (max-width: 767px) {
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; }

  .time_line {
    height: 40px !important; }
    .time_line ul {
      display: flex;
      justify-content: space-around !important; }

  .tamanhos {
    display: block;
    margin: 10% auto;
    height: auto; }
    .tamanhos .quadrados_pizzas {
      width: 100%; }
    .tamanhos .quadrados_pizzas {
      margin: 10% auto; }

  .cardapio_fora {
    margin: 10% auto;
    height: 100vh; }
    .cardapio_fora .cardapio_quadrados {
      width: 50%;
      border: 1px solid #fff; }

  .cardapio_refri {
    margin: 40% auto 0; }
    .cardapio_refri .refri {
      margin: 25% auto !important; }
      .cardapio_refri .refri img {
        margin: -256px auto 0; }

  .hidden {
    display: none; }

  .foter_admin {
    display: none; } }
/* fecha media */
.nav.time_line {
  background: #581a1a;
  height: 30px; }
  .nav.time_line ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    height: 100%; }
    .nav.time_line ul * {
      color: #fff;
      width: 14%;
      display: flex;
      justify-content: space-around; }

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.details {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  height: 100%;
  color: #fff; }

.listas {
  margin-top: 2%;
  color: #4a4a4a; }
  .listas a {
    width: auto;
    height: auto;
    margin: 0; }

h1, h2, h4 {
  color: #4a4a4a; }

.mensagem_admin {
  height: 82vh; }

.fora_icones_contato {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .fora_icones_contato .icones_redes {
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid;
    margin: 1%;
    border-radius: 50%;
    height: 115px;
    outline: none; }
    .fora_icones_contato .icones_redes a {
      width: auto;
      height: auto; }

.espac_quadrads {
  margin: 10px 2% !important; }

.home_nova {
  justify-content: flex-start; }

* {
  margin: 0;
  padding: 0;
  font-family: arial;
  outline: none;
  text-decoration: none; }

/*# sourceMappingURL=custom.css.map */

textarea.login_input {
    height: 156px!important;
}

.login {
  padding-top: 84px;
  padding-left: 12px;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://autocarro.com.br/admrev/web/img/bg-desktop.jpg); }

  .fora_home i {
    font-size: 47px;
    color: #e94747;
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
  width: 45%;
  height: 222px;
  border: 2px dotted #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

#foto_admin {
  font-size: 0;
  height: 100% !important;
  width: 100% !important;
  border: none !important;
  background: transparent !important;
}


.dropdown-header .dropdown-toggle img {
  margin-right: 15px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}